@model IEnumerable<MVC_Thehegeo.Models.BlogModels.Timeline>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>List timeline</h5>
                
                <div class="ibox-tools">
                    <a asp-action="Create" class="fa fa-plus"></a>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                        <tr>
                            <th>Timeline id</th>
                            <th>Year</th>
                            <th>Title</th>
                            <th>Time</th>
                            <th>Image</th>
                            <th>Content</th>
                            <th>Icon</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="gradeX">
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Year)</td>
                            <td>@Html.DisplayFor(modelItem => item.TitleVI)</td>
                            <td>@Html.DisplayFor(modelItem => item.Time)</td>
                            <td>@Html.DisplayFor(modelItem => item.Image)</td>
                            <td>@Html.DisplayFor(modelItem => item.ContentVI)</td>
                            <td>@Html.DisplayFor(modelItem => item.Icon)</td>
                            <td class="center"><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i> Edit</a></td>
                            <td class="center"><a asp-action="Delete" asp-route-id="@item.Id" class="btnDelete"><i class="fa fa-remove"></i> Delete</a></td>
                        </tr>
                        }
                    </tbody>
                        <tfoot>
                            <tr>
                                <th>Timeline id</th>
                                <th>Year</th>
                                <th>Title</th>
                                <th>Time</th>
                                <th>Image</th>
                                <th>Content</th>
                                <th>Icon</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>